.navbar-container {
  width: 100%;
  height: 80vh;
  color: white;
  background-image: url('../imgs/globe1.jpg');
  opacity: .7;
}
.navbar-container .nav-items {
  display: flex;
}
.navbar-container ul {
  display: flex;
  margin: 50px;
}
.navbar-container ul li {
  margin: 50px;
}
