.landing-container {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    min-width: 100vw; 
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;  
    .list-container {
        display: flex;  
        width: 74%; 
        margin-left: 18%;    
       .check-list {
        display: table-cell;
        font-size: 20px;
        font-weight: 400;     
        position: relative;
        text-align: left;
        vertical-align: top;
        width: 33%;
        color: #5a4d4d;
        margin: 20px;
         }   
         .green-marker {
             height: 40px;
             width: 60px;
             margin-top: 20px;
         }         
       }
       .middle-content {
           display: flex;
           .promo-title {
            color: #632891;           
            font-size: 80px;           
            width: 500px;
            margin: auto;
            font-family: -webkit-body;
           }
       .middle-image {
        height: 400px;
        width: 40%;
        margin: 40px 90px 20px;
     }
   }

   .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    background-color: #3e2d4f;
    .bottom-inputs {
    display: flex;
        .subscribe-email {          
        height: 60px;       
        font-size: 18px;
        font-weight: 400;
        padding: 0 10px;
        border-radius: 5px 0 0 5px;
        border-right: 1px solid darkgray;        
    }
    .email-bar input {
        padding-left: 40px;
    }
    .email-bar {
    position: relative;
    }
    .email-bar i {
    left: 0;
    position: absolute;    
    color: darkgray;
    padding: 21px 0 0 5%;
            }

    .subscribe-country {
        // position: relative;
        height: 60px;       
        font-size: 18px;
        font-weight: 400;
        padding: 0 10px;
        border-radius: 0 5px 5px 0;
        
    }
    .country-bar input {
        padding-left: 40px;
    }

    .country-bar {
        position: relative;
        }
    .country-bar i {
        left: 0;
        position: absolute;       
        color: darkgray;
        padding: 21px 0 0 5%;
    }
        .btn-subscribe-cta {
            background-color: #52d67b;
            border-radius: 3px;
            color: #fff;
            cursor: pointer; 
            font-size: 18px;
            font-weight: 400;
            line-height: 18px;
            padding: 21px 16px;
            margin-left: 15px;
        }        
      }
    }
   .footer {
       display: flex;
      .logo {
            color: #3e2d4f;        
            margin: 60px 0 20px 40%;
            border: 1px dotted #3e2d4f;
            height: 66px;
            width: 170px;
            border-radius: 5px;
            padding: 10px 0 0 46px;
            font-size: 22px;            
            font-family: monospace;
            font-style: oblique;
            font-variant: small-caps;
            font-stretch: ultra-expanded;
            cursor: pointer;
        }

        span {
            margin: 84px 0 0 1%;
            font-weight: 600;
        }
      }
    }
    
  