@import 'mixins.less';
.navbar-container {
    width: 100%;
    color: white; 
    position: absolute;     
    .nav-items {
        .logo {
            color: white;         
            margin: 60px 0 0 130px;
            border: 1px dotted white;
            height: 66px;          
            border-radius: 5px;
            text-align: center;
            padding-top: 8px;
            font-size: 22px;            
            font-family: monospace;
            font-style: oblique;
            font-variant: small-caps;
            font-stretch: ultra-expanded;
            cursor: pointer;
        }
        display: flex;
        margin-left: 60px;
        ul {
            display: flex;
            margin: 50px 70px;
            font-weight: 900;
            
            li {                
                color: white;
                margin: 50px;
                font-weight: 400;
                font-size: 20px;
                cursor: pointer;
            }:hover {
                color: gray;     
              
                
            }
        }
        .buttons-wrap {
            display: flex;
            margin: 70px 0 0 10%;            
            .login {                
            text-align: center;                                   
            margin-top: 14px;
            margin-right: 40px;
            cursor: pointer;
            } 
            .sign-up {
                border: 1px solid #52d67b;
                border-radius: 3px;
                color: #52d67b;
                cursor: pointer;                
                height: 40px;               
                padding: 10px 44px;   
                width: 147px;      
               
             }
        }

        .hamburger-menu {
            margin-top: 82px;
            margin-left: 10%;         
        }
    }

}