.main-container {
  background: #0e0a46;
  height: 183px;
  width: 100%;
  color: black;
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.container {
    margin-top: 184px;
    position: absolute;  
}

